.carousel {
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
/* .carousel-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    padding: 10px 20px;
    color: white;
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    cursor: pointer;
  }

 
.prev {
    left: 10px;
  }
  
  .nxt {
    right: 10px;
  } 
  

  