.product-card {
    width: 100%;
    /* max-width: 2200px; */
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

.product-img-box {
    width: 100%;
    height: 200px;
    /* background: #f8f8f8; */
    border-radius: 10px;
    overflow: hidden;
}

.product-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-title {
    font-size: 20px;
    font-weight: 500;
    color: #111;
}

.prodcut-offer {
    font-size: 17px;
    font-weight: 700;
    color: #0a8a20;
}
